{
  "proxy": {
    "ip": "10.16.0.5",
    "port": 8080
  },
  "logger": {
    "enabled": true,
    "name": "egress-all",
    "chains": ["OUTPUT"],
    "protocols": ["tcp", "udp", "icmp"],
    "include_private": true,
    "include_loopback": true,
    "include_multicast": true
  }
}
